body {
  background:url('https://images.unsplash.com/photo-1528459458967-d78e2fd34a9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=383&q=800');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: lato;
  background-color: #838c9e;
  color: white;
  
  text-align: center;
}
 html{
       height: 100%;
      }
  .jumbotron{
    background:black;
    margin:5px 50px 10px 50px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
  }
  #thumbnail{
    background: linear-gradient(rgb(60, 218, 157), rgb(183, 192, 218));
    height: 200px;
    width:200px;
    border-radius: 100px;
    text-align: center;
    margin:50px 200px 0px 200px;
    
  }
  .dropdown-menu{
    background:none;
    padding:5px;
    border:none;
    margin-left: 300px;
    margin-right: 300px;
    width:30%;
  }
  #a{
    text-align: center;
    padding-top: 35%;
  }

  #head{
    letter-spacing: 3px;
    height: 100px;
  }
  li{
    
    margin:5px;
    height: 100px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding:2px;
    background: linear-gradient(rgb(32, 100, 146), rgb(183, 192, 218));
    
  }
  #abc{
    max-width: 100px;
    max-height: 90px; 
    min-height: 90px;
    min-width:100px;
    padding:1px;
    border:none;
    background: burlywood;
    
  }
  #img{
    border:none;
  }
   
  #que{
    margin: 80px;
    padding:20px;
  }

  #que h1,h2,h3,h4,h5,h6,p{
    color:black
  }

 hr{
    display: block; height: 1px;
    border: 1px; border-top: 1px solid rgb(27, 14, 14);
    margin: 1em 0; padding: 0;
  }
  #option{
    margin-left:100px;
  }
  #li{
    margin:5px;
    min-height: 100px;
    border-radius: 25px;
    padding:5px;
    background: linear-gradient(rgb(60, 218, 157), rgb(183, 192, 218));
  }
  #next{
    margin-bottom:50px;
    margin-right:20px;
    width:200px;
    background:rgb(49, 139, 49) ;
  }
    #prev{
    margin-bottom:50px;
    margin-left:20px;
    width:200px;
    background:rgb(187, 90, 90);
    
  }